Question 1 


Consider the following Python module:  a = 0  def b():     global a     a = c(a)  def c(a):     return a + 2  After importing the module into the interpreter, you execute:  >>> b() >>> b() >>> b() >>> a ?  What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
#Question 1: Solution 

a = 0 

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2 

b()
b()
b()
a               #The answer after each execution resulted to the total sum of 6. This was as a result of the successive addition of 2 to the initial command of 'a + 2'. b() then a is 0 + 2 = 2, b() then a is 2 + 2 = 4, b() then a is 4 + 2 = 6.

6

Question 2 

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [2]:
#Question 2: Solution

try:                                              #using the 'try' and 'except' clause.
    fileLength('idterm.py')
except Exception:
    print('File idterm.py not found.')

File idterm.py not found.

Question 3


Write a class named Marsupial that can be used as shown below:



>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
 
 
 Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:


a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,


b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and


c. overloads the __str__ operator so it behaves as shown below.


>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [3]:
#Question 3: Solution 


class Marsupial:

    def __init__(self):                         # the constructor

        self.pouch=[]

    def put_in_pouch(self, item):               # method
        
        self.pouch.append(item)

    def pouch_contents(self):

        return self.pouch


class Kangaroo(Marsupial):                     # creating the subclass

    def __init__(self, x,y):

        Marsupial.__init__(self)

        self.x=x

        self.y=y

    def jump(self, dx, dy):                    # method

        self.x+=dx

        self.x+=dy

    def __str__(self):

        return "I am a Kanagroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

k = Kangaroo(0,0)

print(k)

k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

print(k.pouch_contents())

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

I am a Kanagroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo located at coordinates (3,0)

Question 4


Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1


    
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [4]:
#Question 4: Solution 

def collatz(x):
   
    while x!=1:
     
        print(x)

        if x%2 == 0:
            
            x=x//2
            
        else:
           
            x=3*x+1
  
    print(1)


x=int(input("Please enter the value of n: "))


collatz(x)

Please enter the value of n: 25
25
76
38
19
58
29
88
44
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [5]:
#Question 5: Solution

def binary(num):
    if num == 0:
        return '0'
    else:
        b = ''
        while num > 0:
            b = str((num % 2)) + b
            num //= 2
        return


print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
None
None
None

Question 6


Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [47]:
#Question 6: Solution 

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    # Define the headings
    def __init__(self):
        HTMLParser.__init__(self)
        self.headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
        self.header =''

    def handle_starttag(self, tag, attrs):                   # handle the functions
        if tag in self.headers:
            self.header = tag

    def handle_data(self, data):
        if self.header in self.headers:
            if data.strip():
                space = self.headers.index(self.header)
                print(' '*space + data)


parser = HeadingParser()                                     # test here
infile = open('w3c.html') 
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Question 8

In [7]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\cyril\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\users\cyril\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\cyril\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\cyril\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\cyril\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\cyril\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\cyril\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pickleshare in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: stack-data in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\cyril\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\cyril\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\cyril\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\cyril\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in c:\users\cyril\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\cyril\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\cyril\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

In [24]:
%%sql

DROP TABLE IF EXISTS Weather;

CREATE TABLE IF NOT EXISTS Weather
(
    city varchar(15),
    country varchar(15),
    season varchar(15),
    temperature_c float,
    rainfall_mm float
);

 * sqlite://
Done.
Done.

[]

In [25]:
%%sql

INSERT INTO Weather VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Summer', 27.7,0.1),
('Cairo', 'Egypt', 'Fall', 22.2,4.5)
;

 * sqlite://
12 rows affected.

[]

In [26]:
%%sql

SELECT temperature_c FROM Weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [27]:
%%sql
SELECT DISTINCT city FROM Weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [29]:
%%sql
SELECT * FROM weather WHERE country =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [ ]:
%%sql
select * from weather where season == 'Fall';

In [31]:
%%sql
select city, country, season from weather where rainfall_mm between 200 and 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

In [35]:
%%sql
SELECT city, country from weather where season == 'Fall' and temperature_c > 20 order by temperature_c ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [36]:
%%sql
select sum(rainfall_mm) AS annual_rainfall from weather where city == 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [40]:
%%sql
select season, sum(rainfall_mm) AS annual_rainfall FROM Weather GROUP BY season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [41]:
%%sql
select * from Weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [42]:
%%sql
select * from Weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

Question 9


. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [ ]:
#Question 9: Solution

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print([x.upper() for x in words])                             # a)

print([x.lower() for x in words])                             # b)

print([len(x) for x in words])                                # c)

print([[x.upper(), x.lower(), len(x)] for x in words])        #d)

print([x for x in words if len(x)>=4])                        #e)